<div class="p-1">
    <div class="card">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <app-item-list></app-item-list>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    <h4>Summary :</h4>
                                </div>
                                <div class="container">
                                    <div class="row m-1">
                                        <div class="col">Amount:</div>
                                        <div class="col">500</div>
                                    </div>
                                    <div class="row m-1">
                                        <div class="col">Tax:</div>
                                        <div class="col">50</div>
                                    </div>
                                    <div class="row m-1">
                                        <div class="col">Delivery:</div>
                                        <div class="col">100</div>
                                    </div>
                                    <hr>
                                    <div class="row m-1">
                                        <div class="col"><h5>Total:</h5></div>
                                        <div class="col"><h5>650</h5></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>