<div class="p-1" *ngIf="showProduct">
    <div class="row m-2" *ngFor="let product of showProduct; let i = index">
        <div>
            <div class="col-2" >
            </div >
            
            <div class="col-8" >
                <div class="card">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-4">
                                    <div class="row">
                                        <img src="https://assets.entrepreneur.com/content/3x2/2000/20171212213121-apple-website.jpeg"
                                            class="card-img-top" alt="...">
                                    </div>
                                   
                                </div>
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="card-body">
                                                <h6 class="card-title">{{ product.name }}</h6>
                                            </div>
            
                                        </div>
                                        <div class="col-4">
                                            <div class="card-body">
                                                <p>From {{ product.price | currency:'INR'}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <h6 *ngIf="product.stock === 0" class="out-of-stock">Out Of Stock</h6>
                                    </div>
                                    <div class="row">
                                        <div class="col"> 
                                            <button type="button" class="btn btn-primary" id="product-view-btn"
                                            (click)="addToCartProduct(product.id, product.category)"
                                            *ngIf="product.stock > 0">Add To Cart</button>
                                        </div>
                                        <!-- <div class="col"> 
                                            <button type="button" class="btn btn-primary" id="product-view-btn"
                                            (click)="placeOrder(product.id, product.category)">Buy Now</button>
                                        </div> -->
                                    </div>
                                </div>
                               
                            </div>

                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    <div class="col-2"></div>
</div>