<div class="p-1">
    <div class="card"  *ngIf="product">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div>
                            <div>
                                <img src="https://assets.entrepreneur.com/content/3x2/2000/20171212213121-apple-website.jpeg"
                                    class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col"> 
                                            <button type="button" class="btn btn-primary" id="product-view-btn"
                                            (click)="addToCartProduct(product.id, product.category)">Add To Cart</button>
                                        </div>
                                        <div class="col"> 
                                            <button type="button" class="btn btn-primary" id="product-view-btn"
                                        >Buy Now</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="row" >
                            <h3 class="card-title">{{ product.name }}</h3>
                            <h5>From {{ product.price }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>