<div class="m-5">
    <div>
        <button type="button" class="btn btn-primary m-1" (click)="showAddUser()">Add Users <i class="bi bi-plus"></i></button>
        <app-actionon-users *ngIf="hide" [userID]="id"></app-actionon-users>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Email</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userList; let i = index">
                <td> {{ user.email }} </td>
                <td> {{ user.role }} </td>
                <td>
                    <div class="d-flex">
                        <button type="button" class="btn btn-success m-1" (click)="viewUser(user.id)">View</button>
                        <!-- <button type="button" class="btn btn-danger m-1" (click)="deleteUser(user.id)">delete</button> -->
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>