<div class="p-1">
    <div class="card">
        <div class="card-body">
            <div class="card-title  d-flex justify-content-center">
                <h2>Add User</h2>
            </div>
            <div class="container">
                <div class="row">
                    <form control="" class="form-group" [formGroup]="addUserForm" (ngSubmit)="addUser()">
                        <div class="row">
                            <input type="text" name="name" id="name" class="form__input" placeholder="User Name"
                                formControlName="name">
                            <span *ngIf="!addUserForm.get('name')?.valid && addUserForm.get('name')?.touched"
                                class="help-block"> Username is Required!</span>
                        </div>
                        <div class="row">
                            <input type="email" name="email" id="email" class="form__input" placeholder="Email"
                                formControlName="email">
                            <span *ngIf="!addUserForm.get('email')?.valid && addUserForm.get('email')?.touched"
                                class="help-block">
                                <span *ngIf="addUserForm.get('email')?.hasError('required')">
                                    Emaili is required!
                                </span>
                                <span *ngIf="addUserForm.get('email')?.hasError('emailIsForbidden')">
                                    Please enter a valid email!
                                </span>
                            </span>
                        </div>
                        <div class="row">
                            <input type="password" name="password" id="password" class="form__input"
                                placeholder="Password" formControlName="password">
                            <span *ngIf="!addUserForm.get('password')?.valid && addUserForm.get('password')?.touched"
                                class="help-block">
                                <span *ngIf="addUserForm.get('password')?.hasError('required')">
                                    password Required!
                                </span>
                                <span *ngIf="addUserForm.get('password')?.hasError('minlength')">
                                    Password must be 6!
                                </span>
                            </span>
                        </div>
                        <div class="row">
                            <input type="password" name="confirmpassword" id="confirmpassword" class="form__input"
                                placeholder="Confirm Password" formControlName="confirmpassword">
                            <span
                                *ngIf="!addUserForm.get('confirmpassword')?.valid && addUserForm.get('confirmpassword')?.touched"
                                class="help-block">
                                <span *ngIf="addUserForm.get('confirmpassword')?.hasError('required')">
                                    confirmpassword Required!
                                </span>
                                <span *ngIf="addUserForm.get('confirmpassword')?.hasError('minlength')">
                                    confirmpassword must be 6!
                                </span>
                                <span *ngIf="addUserForm.get('confirmpassword')?.hasError('MustMatch')">
                                    Password and Conform password did not match!!!
                                </span>
                            </span>
                        </div>
                        <div class="row">
                            <input type="date" name="dateofbirth" id="dateofbirth" class="form__input"
                                placeholder="Date Of Birth" formControlName="dob">
                                <span *ngIf="!addUserForm.get('dob')?.valid && addUserForm.get('dob')?.touched"
                                class="help-block"> Date of Birth is Required!</span>
                        </div>
                        <div class="row">
                            <input type="text" name="role" form="role" id="role" class="form__input" placeholder="Role"
                                formControlName="role" list="roleList">
                            <datalist id="roleList">
                                <option value="admin"></option>
                                <option value="user"></option>
                            </datalist>
                            <span *ngIf="!addUserForm.get('role')?.valid && addUserForm.get('role')?.touched"
                            class="help-block"> Role is Required!</span>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col">
                                <input type="submit" value="{{!isShow ? 'Add User' : 'Edit User'}}" class="btn" [disabled]="!addUserForm.valid">
                            </div>
                            <div class="col">
                                <input type="button" value="Reset" class="btn" (click)="resetForm()">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>