<div class="m-5">
    <table class="table table-striped table-hover" >
        <thead>
            <tr>
                <th>OrderId</th>
                <th>Item Name</th>
                <th>Price</th>
                <!-- <th>Action</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of myOrdersItem; let i = index">
                <td>{{ order.id }}</td>
                <td>{{ order.name }}</td>
                <td>{{ order.price }}</td>
                <!-- <td>
                    <div class="d-flex">
                        <button type="button" class="btn btn-success m-1">VIew</button>
                        <button type="button" class="btn btn-danger m-1">delete</button>
                    </div>
                </td> -->
            </tr>
        </tbody>
    </table>
</div>