<div class="m-5">
    <table class="table table-striped table-hover" >
        <thead>
            <tr>
                <th>OrderId</th>
                <th>Item Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of myOrdersItem; let i = index">
                <td>{{ order.id }}</td>
                <td>{{ order.name }}</td>
                <td>{{ order.price | currency:'INR' }}</td>
            </tr>
        </tbody>
    </table>
</div>